/* Inter Variable Fonts */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;